@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gothic;
  src: url("/assets/fonts/GOTHIC.TTF");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gothic";
  color: rgb(255, 255, 255);
  letter-spacing: 0.1em;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, rgb(15, 23, 42) 20%, rgb(91, 105, 65));
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgb(15, 23, 42);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(201, 178, 86);
  border-radius: 20px;
}
